doctype html
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="Sharan's UX Portfolio")
    meta(name="author", content="Sharan Muhhuku")
    title Sharan's UX Portfolio
    link(rel="icon", type="image/x-icon", href="assets/favicon.ico")
    // Font Awesome icons (free version)
    script(src="https://use.fontawesome.com/releases/v6.3.0/js/all.js", crossorigin="anonymous")
    // Google fonts
    link(href="https://fonts.googleapis.com/css?family=Varela+Round", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900", rel="stylesheet")
    // Core theme CSS (includes Bootstrap)
    link(href="css/styles.css", rel="stylesheet")

  body#page-top
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
      .container.px-4.px-lg-5
        a.navbar-brand(href="#page-top") My UX Portfolio
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
          span Menu
          i.fas.fa-bars
        .collapse.navbar-collapse#navbarResponsive
          ul.navbar-nav.ms-auto
            li.nav-item: a.nav-link(href="#about") About
            li.nav-item: a.nav-link(href="#projects") Projects
            li.nav-item: a.nav-link(href="#signup") Contact

    // Masthead
    header.masthead
      .container.d-flex.h-100.align-items-center.justify-content-center
        .text-center
          h1.text-uppercase Sharan's UX Portfolio
          h2.text-white-50 Welcome to my UX-Design portfolio. Discover my projects and connect with me!
          a.btn.btn-primary(href="#about") Explore

    // About Section
    section.about-section.text-center#about
      .container
        .row.justify-content-center
          .col-lg-8
            h2.text-white.mb-4 About Me
            p.text-white-50 Hi, I'm Sharan Muhhuku, a 22-year-old UX Design student from Uganda, studying at Wilfrid Laurier University. I’m passionate about creating user-centered digital experiences and exploring innovative design solutions.
        img.img-fluid(src="assets/img/ipad.jpg", alt="My iPad")

    // Projects Section
    section.projects-section.bg-light#projects
      .container
        // Featured Project
        .row.align-items-center.mb-5
          .col-lg-7
            img.img-fluid(src="assets/img/bg-masthead.jpg", alt="Portfolio Showcase")
          .col-lg-5
            .text-center.text-lg-left
              h4 My UX Portfolio
              p.text-black-50 Explore my work in UX design. Each project reflects my passion for creativity and user-centered design.
        // Project 1
        .row.justify-content-center.mb-5
          .col-lg-6
            img.img-fluid(src="assets/img/demo-image-01.jpg", alt="Waste Sorting Game")
          .col-lg-6
            .bg-black.text-center.project
              h4.text-white Waste Sorting Game
              p.text-white-50 A fun, interactive game for kids to teach proper waste management.
        // Project 2
        .row.justify-content-center
          .col-lg-6
            img.img-fluid(src="assets/img/demo-image-02.jpg", alt="Accessibility Straw")
          .col-lg-6
            .bg-black.text-center.project
              h4.text-white Accessibility Straw
              p.text-white-50 A prototype designed to empower individuals with mobility challenges.

    // Signup Section
    section.signup-section.text-center#signup
      .container
        h2.text-white.mb-5 I'd love to hear from you!
        form
          input.form-control.mb-3(type="email", placeholder="Enter your email", required)
          button.btn.btn-primary(type="submit") Submit

    // Footer
    footer.footer.bg-black.text-center.text-white-50.py-4
      div Copyright &copy; Sharan's Portfolio 2024

    // Bootstrap core JS
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js")
    script(src="assets/js/script.js")
